
NET "vga_r"   LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_g" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_b"  LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_hsync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_vsync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "clk50" LOC = "C9"  | IOSTANDARD = LVCMOS33 ;
NET "reset" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "RIGHT" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "UP" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "DOWN" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "LEFT" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;



